In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib

In [6]:
 df=pd.read_csv("Bengaluru_data.csv")
 df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [7]:
df.groupby("area_type")["area_type"].agg("count")

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [8]:
df1=df.drop(["area_type","availability","society"],axis="columns")
df1.head()

                   location       size total_sqft  bath  balcony   price
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00

In [13]:
df2=df1.dropna()

In [16]:
df2["size"].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 BHK', '1 RK',
       '4 BHK', '1 Bedroom', '2 Bedroom', '6 Bedroom', '8 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '11 Bedroom', '43 Bedroom',
       '14 BHK', '8 BHK', '12 Bedroom', '10 Bedroom', '13 BHK'],
      dtype=object)

In [23]:
df2["bhk"]=df2["size"].apply(lambda x : int(x.split(" ")[0]))
df2.head()

<ipython-input-23-8af44f1ff9f0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["bhk"]=df2["size"].apply(lambda x : int(x.split(" ")[0]))

                   location       size total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00    2

In [26]:
df2["total_sqft"].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [27]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [30]:
df2[~df2["total_sqft"].apply(is_float)]

                 location   size   total_sqft  bath  balcony    price  bhk
30              Yelahanka  4 BHK  2100 - 2850   4.0      0.0  186.000    4
122                Hebbal  4 BHK  3067 - 8156   4.0      0.0  477.000    4
137    8th Phase JP Nagar  2 BHK  1042 - 1105   2.0      0.0   54.005    2
165              Sarjapur  2 BHK  1145 - 1340   2.0      0.0   43.490    2
188              KR Puram  2 BHK  1015 - 1540   2.0      0.0   56.800    2
...                   ...    ...          ...   ...      ...      ...  ...
12975          Whitefield  2 BHK   850 - 1060   2.0      0.0   38.190    2
12990      Talaghattapura  3 BHK  1804 - 2273   3.0      0.0  122.000    3
13059              Harlur  2 BHK  1200 - 1470   2.0      0.0   72.760    2
13265               Hoodi  2 BHK  1133 - 1384   2.0      0.0   59.135    2
13299          Whitefield  4 BHK  2830 - 2882   5.0      0.0  154.500    4

[186 rows x 7 columns]

In [35]:
def convert_sqft_to_num(x):
    tokens=x.split("-")
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [36]:
df3=df2.copy()
df3.head()

                   location       size total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00    2

In [37]:
df3["total_sqft"]=df3["total_sqft"].apply(convert_sqft_to_num)

In [38]:
df3["total_sqft"].unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [39]:
df4=df3.copy()

In [40]:
df4["price_per_sqft"]=df4["price"]+100000/df4["total_sqft"]
df4.head()

,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,133.766970
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,158.461538
2,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,131.444444
3,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,160.746220
4,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,134.333333

In [41]:
len(df4.location.unique())

1265

In [42]:
df4.location=df4.location.apply(lambda x: x.strip())

In [44]:
location_stats=df4.groupby("location")["location"].agg("count").sort_values(ascending=False)
location_stats

location
Whitefield                              515
Sarjapur  Road                          372
Electronic City                         302
Kanakpura Road                          261
Thanisandra                             234
                                       ...
Kodanda Reddy Layout                      1
Kirloskar layout, Basaveshwarnagar        1
Kengeri Satellite Town Stage II           1
Kengeri Satellite Town KHB Apartment      1
1 Annasandrapalya                         1
Name: location, Length: 1254, dtype: int64

In [45]:
len(location_stats[location_stats<=10])

1017

In [46]:
location_stats_less_then_10=location_stats[location_stats<=10]

In [48]:
df4.location=df4.location.apply(lambda x: "others" if x in location_stats_less_then_10 else x)

In [49]:
len(df4.location.unique())

238

In [51]:
df5=df4[~(df4.total_sqft/df4.bhk<300)]
df5.head()

,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,133.766970
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,158.461538
2,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,131.444444
3,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,160.746220
4,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,134.333333

In [58]:
df5.price_per_sqft.describe()

count    12013.000000
mean       183.186181
std        122.432983
min         53.666667
25%        136.965079
50%        152.304866
75%        182.857566
max       2924.017786
Name: price_per_sqft, dtype: float64

In [57]:
def remove_outliers(df):
    df_out=pd.DataFrame()
    for key,subdf in  df.groupby("location"):
        m=np.mean(subdf.price_per_sqft)
        st=np.std(subdf.price_per_sqft)
        reduced_df=subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out=pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df6=remove_outliers(df5)
df6.shape

(10342, 8)

In [65]:
def remove_bhk_outliers(df):
    exclude_indices=np.array([])
    for location, location_df in df.groupby("location"):
        bhk_stats={}
        for bhk, bhk_df in location_df.groupby("bhk"):
            bhk_stats[bhk]={
                "mean": np.mean(bhk_df.price_per_sqft),
                "std": np.std(bhk_df.price_per_sqft),
                "count": bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby("bhk"):
            stats= bhk_stats.get(bhk-1)
            if stats and stats["count"]>5:
                exclude_indices=np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft<(stats["mean"])].index.values)
    return df.drop(exclude_indices,axis="index")
df7=remove_bhk_outliers(df6)
df7.shape

(6663, 8)

In [67]:
df8=df7[df7.bath<df7.bhk+2]
df8.shape

(6621, 8)

In [68]:
df8=df8.drop(["size","price_per_sqft"],axis="columns")
df8.head()

              location  total_sqft  bath  balcony  price  bhk
0  1st Block Jayanagar      1630.0   3.0      2.0  194.0    3
1  1st Block Jayanagar      1875.0   2.0      3.0  235.0    3
2  1st Block Jayanagar      1200.0   2.0      0.0  130.0    3
3  1st Block Jayanagar      1235.0   2.0      2.0  148.0    2
4  1st Block Jayanagar      2450.0   4.0      2.0  368.0    4

In [71]:
dummies=pd.get_dummies(df8.location)

In [74]:
df9=pd.concat([df8,dummies.drop(["others"],axis="columns")],axis="columns")

In [75]:
df9=df9.drop(["location"],axis="columns")

In [154]:
X=df9.drop(["price"],axis="columns")

In [155]:
y=df9.price
y.head()

0    194.0
1    235.0
2    130.0
3    148.0
4    368.0
Name: price, dtype: float64

In [156]:
from sklearn.model_selection import train_test_split

In [157]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [158]:
from sklearn.model_selection import ShuffleSplit

In [159]:
from sklearn.model_selection import cross_val_score

In [160]:
cv=ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)

ssff

In [161]:
from sklearn.linear_model import LinearRegression

In [162]:
cross_val_score(LinearRegression(),X,y,cv=cv)

array([0.7755531 , 0.74719485, 0.78020138, 0.76122175, 0.73837681])

In [163]:
from sklearn.model_selection import GridSearchCV

In [164]:
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

In [165]:
def find_best_model(X,y):
    algos={
        "linear_regression":{
            "model":LinearRegression(),
            "params":{
                "normalize":[True,False]
            }
        },
       "lasso":{
        "model":Lasso(),
        "params":{
            "alpha":[1,2],
            "selection":['random',"cyclic"]
            }
        },
        "decsion_tree":{
            "model":DecisionTreeRegressor(),
            "params":{
                "criterion":["else","friedman_mse"]
            }
        }
        
    
    }
    scores=[]
    cv=ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
    for algo_name,config in algos.items():
        gs=GridSearchCV(config['model'],config["params"],cv=cv,return_train_score=False)
        gs.fit(x,y)
        scores.append({
            "model":algo_name,
            "best_score":gs.best_score_,
            "best_params":gs.best_params_
        })
    return pd.DataFrame(scores,columns=["model","best_score","best_params"])

In [132]:
find_best_model(X,y)

c:\users\comp\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
KeyError: 'else'

  warnings.warn("Estimator fit failed. The score on this train-test"
c:\users\comp\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
KeyError: 'else'

  warnings.warn("Estimator fit failed. The score on this train-test"
c:\users\comp\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
KeyError: 'else'

  warnings.warn("Estimator fit failed. The score on this train-test"
c:\users\comp\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
KeyError: 'else'

  warnings.warn("Estimator fit failed. The score on this train-test"
c:\users\comp\appdata\local\programs\python\python38\lib\site-packages\sklearn\model_selection\_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
KeyError: 'else'

  warnings.warn("Estimator fit failed. The score on this train-test"

               model  best_score                          best_params
0  linear_regression    0.760510                 {'normalize': False}
1              lasso    0.521673  {'alpha': 1, 'selection': 'random'}
2       decsion_tree    0.613335        {'criterion': 'friedman_mse'}

In [166]:
lr=LinearRegression()
lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [170]:
(len(X.columns))

241

In [171]:
def predict_price(location,sqft,bath,bhk):
    loc_index=np.where(X.columns==location)[0][0]
    
    x=np.zeros(len(X.columns))
    x[0]=sqft
    x[1]=bath
    x[2]=bhk
    if loc_index>=0:
        x[loc_index]=1
    return lr.predict([x])[0]

In [172]:
predict_price("Indira Nagar",1000,2,2)

114.68782138651274

In [173]:
import pickle
with open("Banglore_home_prices_model.pickle","wb") as f:
    pickle.dump(lr,f)

In [174]:
import json

In [175]:
columns={
    "data_columns": [col.lower() for col in X.columns]
    
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))